.unpressed {
  padding: 8px;
  border: 2.6px solid black;
  background-color: #808080;
  transition: background-color 0.7s;
  border-radius: 5px;
  font-family: monospace;
  font-size: 35px;
  color: whitesmoke;
  width: 50px;
  /* Add subtle shadow */
}

.pressed {
  background-color: #484444;
  transition: background-color 0.4s;
}